@font-face {
    font-family: FiraSansThin;
    src: url(FiraSans-Light.ttf);
}
@font-face {
    font-family: FiraSansReg;
    src: url(FiraSans-Regular.ttf);
}
@font-face {
    font-family: FiraSansMedium;
    src: url(FiraSans-Medium.ttf);
}

/* #Tags */

body {
    background-color: #FBF8F1;
    margin: 0;
    text-align: center;
}

h1 {
    font-family: FiraSansMedium;
    margin: 0 auto 0 auto;
    bottom: 100px
}

/* Classes */

.top {
    position: relative;
    padding-top: 100px;
    background-color: #98B4AA;
    color: #E9DAC1;
    font-family: FiraSansReg;
}

.middle {
    /* position:relative; */
    background-color: #E9DAC1;
    /* height: 500px; */
    color: #98B4AA;
    font-family: FiraSansReg;
}

.bottom {
    /* position: relative; */
    background-color: #F7ECDE;
    
    /* height: 500px; */
    color: #98B4AA;;
    font-family: FiraSansReg;
}

.top_cloud {
    position: absolute;
    right: 300px;
    top:40px;
}

.bottom_cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

/* ID */
